---
import Layout from "../../layouts/Layout.astro";
import Theme from "../../layouts/Theme.astro";
import { TypographyH1 } from "../../components/blog/Typography";
import PostList from "../../components/blog/PostList.astro";
import { getPosts } from "../../lib/getPosts";

const posts = await getPosts();
---

<Theme />
<Layout title="Blog Posts">
	<div class="flex w-full max-w-[900px] flex-col justify-between px-12">
		<div class="mb-4 flex flex-col gap-4 border-b py-4">
			<TypographyH1>Blog Posts</TypographyH1>
		</div>
		<div class="min-h-[400px]">
			<PostList posts={posts} />
		</div>
	</div>
</Layout>
