---
export const prerender = true;
import WordTree from "../assets/wordtree.mp4";
import { About } from "../components/About";
import { Experience } from "../components/Experience/Experience";
import Headshot from "../components/Headshot.astro";
import { WhoAmI } from "../components/WhoAmI";
import Layout from "../layouts/Layout.astro";
import Theme from "../layouts/Theme.astro";
import PauseAnimationButton from "../components/PauseAnimationButton.astro";
import { LoaderCircle } from "lucide-react";
---

<script is:inline>
	function togglePause() {
		const main = document.querySelector("main");
		main.classList.toggle("**:paused");
		document.getElementById("pause-button").classList.toggle("hidden");
		document.getElementById("play-button").classList.toggle("hidden");
		const video = document.querySelector("video");
		video.paused ? video.play() : video.pause();
	}
</script>

<Theme />
<Layout>
	<WhoAmI>
		<Headshot slot="headshot" />
	</WhoAmI>
	<About />
	<Experience />
	<div
		class="flex w-full max-w-[1200px] flex-col-reverse justify-between lg:flex-row"
	>
		<div
			class="flex min-w-[360px] flex-col gap-6 p-8 lg:max-w-[1280px] lg:p-16"
		>
			<a
				href="https://www.wordtree.app"
				target="_blank"
				class="outline-accent bg-accent relative block aspect-video h-auto w-full -rotate-3 rounded-lg pr-8 outline-6 transition-transform hover:scale-105 hover:rotate-3"
			>
				<video
					autoplay
					loop
					muted
					playsinline
					class="bg-secondary relative h-full w-full rounded-lg"
				>
					<source
						src="/video/wordtree-demo.mov"
						type="video/quicktime"
					/>
				</video>
				<div
					class="bg-secondary absolute top-[calc(50%-12px)] right-0 h-6 w-6 rounded-full outline outline-gray-600"
				>
				</div>
			</a>
		</div>
		<div class="flex flex-col gap-6 p-8 lg:max-w-sm">
			<h2 class="text-2xl font-bold">WordTree</h2>
			<p>
				I built WordTree using React Native and Expo to create a smooth,
				cross-platform word puzzle experience. It challenges players to
				think strategically and plan ahead while testing their
				vocabulary. It comes with multiple game modes and is supported
				on the web, iOS, and Android.
			</p>
			<p>
				<a
					href="https://www.wordtree.app"
					class="underline"
					target="_blank"
				>
					Play Now
				</a>
			</p>
		</div>
		<PauseAnimationButton />
	</div>
</Layout>
