---
export const prerender = true;
import WordTree from "../assets/wordtree.mp4";
import { About } from "../components/About";
import { Experience } from "../components/Experience/Experience";
import Headshot from "../components/Headshot.astro";
import { WhoAmI } from "../components/WhoAmI";
import Layout from "../layouts/Layout.astro";
import Theme from "../layouts/Theme.astro";
import PauseAnimationButton from "../components/PauseAnimationButton.astro";
import { LoaderCircle } from "lucide-react";
import WordTreeSection from "../components/WordTreeSection.astro";
import { Testimonials } from "../components/Testimonials";
---

<script is:inline>
	function togglePause() {
		const main = document.querySelector("main");
		main.classList.toggle("**:paused");
		document.getElementById("pause-button").classList.toggle("hidden");
		document.getElementById("play-button").classList.toggle("hidden");
		const video = document.querySelector("video");
		video.paused ? video.play() : video.pause();
	}
</script>

<Theme />
<Layout>
	<WhoAmI>
		<Headshot slot="headshot" />
	</WhoAmI>
	<About />
	<Experience />
	<div
		class="flex w-full max-w-[1200px] flex-col-reverse justify-between lg:flex-row"
	>
		<div
			class="flex w-full min-w-[360px] flex-col justify-center lg:max-w-[1280px] lg:px-16"
		>
			<Testimonials client:load />
		</div>
		<div class="flex flex-col gap-6 p-8 lg:max-w-lg">
			<h2 class="text-2xl font-bold">Soft Skills & Testimonials</h2>
			<p class="text-justify">
				Working in software is not an individual sport. It requires
				empathy, communication, and collaboration. Strong technical
				skills are important, but the ability to listen, adapt, and work
				effectively with others is what truly drives impactful software
				development and team growth.
			</p>
			<p class="text-justify">
				In that vein, I believe that soft skills are a key to being a
				force multiplier. Whether through mentorship, clear
				documentation, or refining developer workflows, I work hard to
				raise the floor so that every engineer can contribute at their
				best. Great teams aren't just built on individual talent but on
				the systems and support that help everyone thrive. By investing
				in people as much as in code, we can ensure long-term success
				for both the team and the software we create.
			</p>
		</div>
	</div>
	<WordTreeSection />

	<PauseAnimationButton />
</Layout>
