<div class="flex w-full max-w-[1200px] flex-col justify-between lg:flex-row">
	<div class="flex flex-col gap-6 p-8 lg:max-w-sm">
		<h2 class="text-2xl font-bold">WordTree</h2>
		<p>
			<a href="https://www.wordtree.app" class="underline" target="_blank"
				>WordTree</a
			> is a cross-platform app built with React Native and Expo. It challenges
			players to think strategically and plan ahead while testing their vocabulary.
		</p>
		<p>
			Initially developed in 2023 as an experiment in cross-platform
			application development, WordTree has since grown into a thriving
			game with over 1,000 active users. Give it a try!
		</p>
	</div>
	<div
		class="flex min-w-[360px] flex-col gap-6 p-8 lg:max-w-[1280px] lg:p-16"
	>
		<a
			href="https://www.wordtree.app"
			target="_blank"
			class="outline-accent bg-accent relative block w-full -rotate-3 rounded-lg pr-8 outline-6 transition-transform hover:scale-105 hover:rotate-3"
			aria-label="Play WordTree"
		>
			<video
				autoplay
				loop
				muted
				playsinline
				class="bg-background aspect-video rounded-lg"
			>
				<source
					src="/video/wordtree-demo.mp4"
					type="video/mp4"
					class="aspect-video min-h-full min-w-full"
				/>
			</video>
			<div
				class="bg-secondary absolute top-[calc(50%-12px)] right-0 h-6 w-6 rounded-full outline outline-gray-600"
			>
			</div>
		</a>
	</div>
</div>
