<div class="outline-secondary my-4 rounded-2xl outline">
	<div class="bg-background flex justify-center p-12">
		<div>
			<slot name="example" />
		</div>
	</div>
	<div class="rounded-2xl bg-[#24292E] p-12">
		<slot name="code" />
	</div>
</div>
