---
import Analytics from "@vercel/analytics/astro";
import { CodeXml } from "lucide-react";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Welcome | Howard Dean Watts</title>
		<meta
			name="description"
			content="Hey there. I am a software developer based in New York, currently at Chronograph Private Equity, where I lead the development of tools to automate the extraction of unstructured data from our clients."
		/>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://hdwatts.com" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Welcome | Howard Dean Watts" />
		<meta
			property="og:description"
			content="Hey there. I am a software developer based in New York, currently at Chronograph Private Equity, where I lead the development of tools to automate the extraction of unstructured data from our clients."
		/>
		<meta property="og:image" content="/og-image.png" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="hdwatts.com" />
		<meta property="twitter:url" content="https://hdwatts.com" />
		<meta name="twitter:title" content="Welcome | Howard Dean Watts" />
		<meta
			name="twitter:description"
			content="Hey there. I am a software developer based in New York, currently at Chronograph Private Equity, where I lead the development of tools to automate the extraction of unstructured data from our clients."
		/>
		<meta name="twitter:image" content="/og-image.png" />

		<!-- Meta Tags Generated via https://www.opengraph.xyz -->
	</head>
	<body class="bg-background">
		<header
			class="border-grid bg-background/95 supports-[backdrop-filter]:bg-background/60 sticky top-0 z-50 mb-10 w-full border-b backdrop-blur"
		>
			<div class="container-wrapper">
				<div class="container flex h-14 items-center px-5">
					<div
						class="flex w-full justify-between gap-4 sm:justify-start"
					>
						<a class="flex items-center gap-2" href="/">
							<CodeXml />
							<span class="font-bold">HDWATTS</span>
						</a>
						<nav class="flex items-center gap-4 text-sm">
							<a
								class="opacity-80 transition-opacity hover:opacity-100"
								href="/">Home</a
							>
							<a
								class="opacity-80 transition-opacity hover:opacity-100"
								href="/blog">Blog</a
							>
							<a
								class="opacity-80 transition-opacity hover:opacity-100"
								target="_blank"
								href="/resume.pdf">Resume</a
							>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<div class="flex justify-center">
			<main class="flex w-full flex-col items-center gap-6 md:gap-12">
				<slot />
			</main>
		</div>
		<footer class="mt-10 flex h-14 w-full justify-center text-sm">
			© hdwatts, 2025
		</footer>
		<Analytics />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
